basePath: /api/v1
definitions:
  auth.LoginResponse:
    properties:
      access_token:
        type: string
      refresh_token:
        type: string
    type: object
  auth.MessageResponse:
    properties:
      message:
        type: string
    type: object
  auth.RequestLogin:
    properties:
      email:
        example: mynamebvh@gmail.com
        type: string
      password:
        example: hoangdz
        type: string
    required:
    - email
    - password
    type: object
  models.Token:
    properties:
      created_at:
        type: string
      id:
        type: integer
      type:
        type: string
      user_id:
        type: integer
      value:
        type: string
    type: object
  models.User:
    properties:
      address:
        type: string
      birthday:
        type: string
      created_at:
        description: |-
          Department   Department
          Role         Role
        type: string
      department_id:
        type: integer
      email:
        type: string
      employee_code:
        type: string
      full_name:
        type: string
      gender:
        type: boolean
      id:
        type: integer
      phone:
        type: string
      role_id:
        type: integer
      token:
        $ref: '#/definitions/models.Token'
      updated_at:
        type: string
    type: object
  user.MessageResponse:
    properties:
      message:
        type: string
    type: object
  user.NewUser:
    properties:
      address:
        example: Hoai Duc, Ha Noi
        type: string
      birthday:
        example: "2022-10-07T08:43:38+00:00"
        type: string
      department_id:
        example: 1
        type: integer
      email:
        example: mynamebvh@gmail.com
        type: string
      employee_code:
        example: "001"
        type: string
      full_name:
        example: Bui Viet Hoang
        type: string
      gender:
        example: true
        type: boolean
      password:
        example: hoangdz
        type: string
      phone:
        example: "0979150931"
        type: string
      role_id:
        example: 1
        type: integer
    required:
    - address
    - birthday
    - department_id
    - email
    - employee_code
    - full_name
    - gender
    - password
    - phone
    - role_id
    type: object
host: localhost:8080
info:
  contact:
    email: mynamebvh@gmail.com
    name: Bui Viet Hoang
  description: Documentation's Employee Manager
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Employee Manager
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Login account
      parameters:
      - description: body data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.RequestLogin'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.LoginResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/auth.MessageResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/auth.MessageResponse'
      summary: Login
      tags:
      - auth
  /users:
    post:
      consumes:
      - application/json
      description: Create new user on the system
      parameters:
      - description: body data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/user.NewUser'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/user.MessageResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/user.MessageResponse'
      summary: Create New User
      tags:
      - user
  /users/{user_id}:
    delete:
      description: Delete user by ID on the system
      parameters:
      - description: id of user
        in: path
        name: user_id
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.MessageResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/user.MessageResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/user.MessageResponse'
      summary: Delete user by ID
      tags:
      - user
    get:
      description: Get user by ID on the system
      parameters:
      - description: id of user
        in: path
        name: user_id
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/user.MessageResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/user.MessageResponse'
      summary: Get user by ID
      tags:
      - user
    put:
      description: Update user by ID on the system
      parameters:
      - description: id of user
        in: path
        name: user_id
        required: true
        type: integer
      - description: body data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/user.NewUser'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/user.MessageResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/user.MessageResponse'
      summary: Update user by ID
      tags:
      - user
swagger: "2.0"
